<%- include parts/head.ejs %>
<%- include parts/popup_reg.ejs %>
<%- include parts/popup_auth.ejs %>
<%- include parts/popup_pwd.ejs %>

  <header class="header">
    
    <div class="wrapper">
      <a href="/"><i class="header__logo"></i></a>



      <div class="header__nav">

      <ul id="menu">
        <li><a href="#">Секции</a></li>
        <li>
          <a href="#">Прoграмма</a>
          <ul>
            <li><a href="#">Mio profilo 1 erfer rere</a></li>
            <li><a href="#">Mio profilo 2 e</a></li>
            <li><a href="#">Mio profilo 3</a></li>
            <li><a href="#">Mio profilo 4 eerr</a></li>
          </ul>
        </li>
        <li><a href="#">Участники</a></li>
        <li><a href="#">Спикеры</a></li>
      </ul>
            
        <div class="header__social social">
          <a target="_blank" href="https://www.facebook.com/hackdaykz" class="social__fb"></a>
          <a target="_blank" href="https://vk.com/hackdayalmaty" class="social__vk"></a>
          <!-- <a target="_blank" href="" class="social__ig"></a> -->
        </div>

        <span class="social__tag">#hackdaykz</span>
        <a id="auth" href="#popup_auth" class="social__tag social__tag--red">Личный кабинет</a>
      
        <!-- <div class="header__lang">
          <span>KZ</span>
          <a href="ru.html">RU</a>
        </div> -->
      
      </div>
    </div>

  </header><!-- /.header --> 



  <main class="body">

    <section class="intro">
      <div class="wrapper">

        <div class="intro__tx">
          <div class="intro__tx_1">Представляет</div>
          <div class="intro__tx_2">От идеи до прототипа за 24 часа!</div>
        </div>

      </div>
    </section>

    <section class="info">
      <div class="wrapper">

        <div class="info__l">
          <span class="info__title">Что?</span>
          <p>
            Hackday - это крупнейший в СНГ ежегодный <mark>Фестиваль идей</mark>, где молодые специалисты в креативной и неформальной среде превращают свои идеи в работающие стартапы. 
          </p>
        </div>
        <div class="info__r">
          <span class="info__title">Где и когда?</span>
          <span class="info__date">2-3 мая</span>
          <p>
            Алматы, Almaty Towers, Коворкинг <a href="http://biznes-fabrika.kz/coworking/" target="_blank">“Бизнес Фабрика”</a> Байзакова 280, <a target="_blank" href="https://www.google.com/maps/place/Almaty+Tower,+Baizakov+St+280,+Almaty,+Kazakhstan/@43.2371691,76.9151437,18z/data=!4m7!1m4!3m3!1s0x3883692d0a012c17:0x6c0797355ba10366!2sAlmaty+Tower,+Baizakov+St+280,+Almaty,+Kazakhstan!3b1!3m1!1s0x3883692d0a012c17:0x6c0797355ba10366">смотреть на карте</a>
          </p>
        </div>
        
        <i class="info__man"></i>

      </div>
    </section>


    <section class="video">
    <div class="video__title">Вспомним, как прошел Hackday 2015</div>
      <iframe class="video__source" src="//www.youtube.com/embed/vI4gybEczas?controls=0&showinfo=0&autohide=1&rel=0&showinfo=0&modestbranding=1&iv_load_policy=3" frameborder="0"></iframe>
      <div class="video__gag">
        <button class="video__play"></button>
      </div>
    </section>



    <section class="sections">
      <div class="wrapper">
        <div class="sections__title">
          Принимай участие в секциях HackDay
        </div>
        <div class="sections__line">
        
          <div class="section">
            <div class="section__header">
              <i class="section__ic section__ic--it"></i>
              <div class="section__title"><span>
                  Информационные <br /> технологии
                </span>
                <span  class="links"><a href="#">Подробнее</a> | <a href="#">Спикеры</a></span>
              </div>
            </div>
            <!-- <div class="section__tx">
              <p>Номинация как сильный наркотик – один раз получив от</p>
              <p>нее удовольствие, начинаешь употреблять ее все чаще и чаще,</p>
              <p>и в итоге, не в состоянии себя контролировать.</p>
            </div> -->

            <a href="#popup_reg" data-text="Информационные технологии" class="section__go">Зарегистрироваться</a>

          </div>

          <div class="section">
            <div class="section__header">
              <i class="section__ic section__ic--content"></i>
              <div class="section__title"><span>
                  Контент <br>и медиа</span>
                <span  class="links"><a href="#">Подробнее</a> | <a href="#">Спикеры</a></span>   
              </div>          
            </div>

            <a href="#popup_reg" data-text="Контент и медиа" class="section__go">Зарегистрироваться</a>

          </div>

          <div class="section">
            <div class="section__header">
              <i class="section__ic section__ic--movie"></i>
              <div class="section__title"><span>
                  Кино <br>и видео</span>                
                  <span  class="links"><a href="#">Подробнее</a> | <a href="#">Спикеры</a></span>   
              </div>          
            </div>

            <a href="#popup_reg" data-text="Кино и видео" class="section__go">Зарегистрироваться</a>
          </div>
        
        </div>

        <div class="sections__line">

          <div class="section">
            <div class="section__header">
              <i class="section__ic section__ic--mobile"></i>
              <div class="section__title"><span>
                  Мобильные <br /> Приложения</span>
                <span  class="links"><a href="#">Подробнее</a> | <a href="#">Спикеры</a></span>   
              </div>          
            </div>

            <a href="#popup_reg" data-text="Мобильные Приложения" class="section__go">Зарегистрироваться</a>
          </div>
          
          <div class="section">
            <div class="section__header">
              <i class="section__ic section__ic--photo"></i>
              <div class="section__title"><span>
                  Фотография</span>
                <span  class="links"><a href="#">Подробнее</a> | <a href="#">Спикеры</a></span>   
              </div>          
            </div>

            <a href="#popup_reg" data-text="Фотография" class="section__go">Зарегистрироваться</a>
          </div>

          <div class="section">
            <div class="section__header">
              <i class="section__ic section__ic--design"></i>
              <div class="section__title"><span>
                  Дизайн <br>
                  и анимация</span>
                 <span  class="links"><a href="#">Подробнее</a> | <a href="#">Спикеры</a></span>   
              </div>          
            </div>

            <a href="#popup_reg" data-text="Дизайн и анимация" class="section__go">Зарегистрироваться</a>
          </div>
        </div>

        <div class="sections__line">

          <div class="section">
            <span class="section__lbl"></span>          
            <div class="section__header">
              <i class="section__ic section__ic--sandtech"></i>
              <div class="section__title"><span>
                  Smartech & Solutions</span>
                <span  class="links"><a href="#">Подробнее</a> | <a href="#">Спикеры</a></span>   
              </div>          
            </div>
            
             <a href="#popup_reg" data-text="Новая категория" class="section__go">Зарегистрироваться</a>
          </div>   

        </div>

<!--         <div class="sections__line">
  <a target="_blank" href="http://yvision.kz/post/497641" class="section__btn">Cпецноминации от Samsung Galaxy S6 edge, АО "НИТ" и Dr. Web</a>
</div> -->


      </div>
    </section>

    <section class="advert1">
      <div class="wrapper">

        <img src="img/partner-23.png">

        <div class="advert__title">
          Инновационный кластер Tech Garden
        </div>
        <div class="advert__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis fuga earum eveniet, voluptatem pariatur et iusto reprehenderit nostrum assumenda! Voluptatibus quasi dignissimos soluta error aperiam facilis recusandae illum perferendis nobis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis fuga earum eveniet, voluptatem pariatur et iusto reprehenderit nostrum assumenda! Voluptatibus quasi dignissimos soluta error aperiam facilis recusandae illum perferendis nobis.</p>
        </div>

      </div>
    </section>

    <section class="action2">
      <div class="action2__tx">
        <mark>Программа HackDay</mark>
        <p> 
          Во сколько начнется HackDay и в какое время приходить <br />на регистрацию можно узнать здесь
          </p>
        <a target="_blank" href="http://yvision.kz/post/497078">Посмотреть</a>
      </div>
    </section>

    <section class="photo">
      <div class="photo__header">
        <div class="wrapper">
          HackDay в лицах
          <i class="photo__man"></i>
        </div>
      </div>
      <div class="photo__gallery gallery">
        <div class="gallery__line gallery__1stline">
          <a href="img/photos/1.jpg"><img src="img/photos/1.jpg"></a>
          <a href="img/photos/2.jpg"><img src="img/photos/2.jpg"></a>
          <a href="img/photos/3.jpg"><img src="img/photos/3.jpg"></a>
          <a href="img/photos/4.jpg"><img src="img/photos/4.jpg"></a>
          <a href="img/photos/5.jpg"><img src="img/photos/5.jpg"></a>
          <a href="img/photos/6.jpg"><img src="img/photos/6.jpg"></a>
        </div>
        <div class="gallery__line gallery__2ndline">
          <a href="img/photos/7.jpg"><img src="img/photos/7.jpg"></a>
          <a href="img/photos/8.jpg"><img src="img/photos/8.jpg"></a>
          <a href="img/photos/9.jpg"><img src="img/photos/9.jpg"></a>
          <a href="img/photos/10.jpg"><img src="img/photos/10.jpg"></a>
          <a href="img/photos/11.jpg"><img src="img/photos/11.jpg"></a>
          <a href="img/photos/12.jpg"><img src="img/photos/12.jpg"></a>
        </div>
        <div class="gallery__line gallery__3rdline">
          <a href="img/photos/1.jpg"><img src="img/photos/1.jpg"></a>
          <a href="img/photos/2.jpg"><img src="img/photos/2.jpg"></a>
          <a href="img/photos/3.jpg"><img src="img/photos/3.jpg"></a>
          <a href="img/photos/4.jpg"><img src="img/photos/4.jpg"></a>
          <a href="img/photos/5.jpg"><img src="img/photos/5.jpg"></a>
          <a href="img/photos/6.jpg"><img src="img/photos/6.jpg"></a>
        </div>      
      </div>
    </section>

    <section class="advert2">
      <div class="wrapper">
        <img src="img/partner-24.png">
        <div class="advert__title">
          Казкоммерцбанк
        </div>
        <div class="advert__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis fuga earum eveniet, voluptatem pariatur et iusto reprehenderit nostrum assumenda! Voluptatibus quasi dignissimos soluta error aperiam facilis recusandae illum perferendis nobis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis fuga earum eveniet, voluptatem pariatur et iusto reprehenderit nostrum assumenda! Voluptatibus quasi dignissimos soluta error aperiam facilis recusandae illum perferendis nobis.</p>        
        </div>
      </div>
    </section>

    <section class="guests">
      <div class="wrapper">
        <div class="guests__title">Приглашенные гости</div>
        <div class="guests__list">
          <a href="http://tjournal.ru/" target="_blank"><img src="img/guest-1.png"></a>

          <a target="_blank" href="http://www.games-tv.ru/ "><img height="100" src="img/partner-13.png"></a>
          <a target="_blank" href="http://ztb.kz/"><img src="img/guest-3.png"></a>
          <a target="_blank" href="https://vk.com/queex"><img height="100" src="img/partner-12.png"></a>
          <a href="http://sxodim.kz/" target="_blank">
            <img src="img/partner-10.png">
          </a>
        </div>
        <div class="guests__list guests__list--second">
          <a href="http://mkechinov.ru/" target="_blank">
            <img src="img/partner-3.png">
          </a>
          <a href="http://rocketfirm.com/" target="_blank">
            <img src="img/partner-15.png">
          </a>
          <a href="http://www.iidf.ru/" target="_blank">
            <img height="60" src="img/partner-16.png">
          </a>
          <a href="http://www.walletone.com/" target="_blank">
            <img height="100" src="img/partner-17.png">
          </a>
       
        </div>
        <i class="guests__man"></i>
      </div>
    </section>

    <section class="about">
      <div class="wrapper">
        <div class="about__tx">
          <div class="about__title">О секциях</div>
        </div>
        
        <div class="about__box">
          <div class="about__box__title"><span>Информационные технологии</span></div>
          <i class="section__ic section__ic--photo"></i>
          <p>Almaty Tech Garden представляет секцию Smart Tech & Solutions. При поддержке АО "КазПочта", АО "Национальные информационные технологии", АО "Казкоммерцбанк", АО "Банк Астаны", Корпорация IBM, Halva Loyalty, ТРЦ Dostyk Plaza и Damu Logistics. Технологические партнеры ATG выставят свои задачи, которые предстоит решить за 24 часа и в итоге успешно презентовать их решение.</p>
         <p>Победители получат не только призы и подарки, но и возможность получить реальные инвестиции, а также место в программе акселерации Tech Garden. Кроме того, победители смогут продолжить работать с технологичными партнерами. Будь smart – регистрируйся!</p>

          <fieldset>
            <legend>Спикеры:</legend>

            <div id="speaker1" class="about__box__item">
              <div class="about__box__img">
                <img src="img/ava/Kechinov.png">
              </div>
              <div class="about__box__cnt">
                <div class="about__box__name">
                  <span>Михаил Кечинов</span>
                  <p>Краткая информация о спикере</p>
                </div>
              </div>
            </div>

            <div id="speaker2" class="about__box__item">
              <div class="about__box__img">
                <img src="img/ava/Kechinov.png">
              </div>
              <div class="about__box__cnt">
                <div class="about__box__name">
                  <span>Михаил Кечинов</span>
                  <p>Краткая информация о спикере</p>
                </div>
              </div>
            </div>


          <div id="speaker1_descr" class="about__box__descr">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel magnam nihil quia similique a quasi ipsam, tenetur nostrum quidem? Animi laudantium atque iure unde voluptates asperiores eveniet dignissimos, obcaecati vitae!</p>
            <p>Et repellendus explicabo atque molestias quas vitae suscipit. In eaque adipisci fuga consectetur, quis nobis doloremque mollitia, quod perferendis provident, possimus expedita, magni sunt! Ut itaque praesentium dicta veritatis fugit.</p>
          </div>

          <div id="speaker2_descr" class="about__box__descr">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aliquid ratione ipsam possimus fugit aut, deserunt laboriosam voluptatibus assumenda, saepe tempore a eos itaque voluptas voluptates et quae. Excepturi, deleniti.</p>
            <p>Sapiente omnis eveniet amet modi, iste totam culpa laborum quo voluptate nostrum fuga voluptatibus alias odio facere, vitae, aliquid, aperiam magni! Natus odit non inventore tempora? Cum vitae maxime quidem.</p>
          </div>

          <div id="speaker3_descr" class="about__box__descr">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, iste, architecto. A asperiores quidem inventore excepturi illo odio consequatur officia, qui. Ipsum nesciunt iure eveniet provident officia fugiat, ea, porro.</p>
            <p>Numquam neque commodi hic possimus minus odit quaerat deleniti. Delectus quos at minima iusto soluta exercitationem doloremque error porro tempora quas cumque, amet! Sed quidem veniam eos sapiente atque fugit.</p>
          </div>

          <div id="speaker4_descr" class="about__box__descr">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem inventore sit facere asperiores et ea minima nesciunt, ab in corporis repellendus similique sed ipsa quam veritatis quidem eveniet. Ipsam, eum!</p>
            <p>Aliquid in aliquam aperiam. Eveniet natus blanditiis optio eaque, voluptas, voluptatum, fugiat vel perferendis ducimus fugit culpa laudantium reprehenderit officia repellendus nesciunt mollitia? Aliquam eaque placeat ipsam corporis, qui quisquam.</p>
          </div>                              

          </fieldset>


          <div class="about__nom">Номинации:</div>
          <div class="about__nombox">
            <div class="about__nombox__name"><mark>1-3 места</mark> - общее голосование</div>
            <div class="about__nombox__name"><mark>1-3 места</mark> - общее голосование</div>
            <div class="about__nombox__name"><mark>Специальная номинация</mark> от партнера проекта </div>
          </div>

        </div>

<!--  -->

        <div class="about__box" id="cat7">
          <div class="about__box__title"><span>Smart Tech & Solutions</span></div>
          <i class="section__ic section__ic--sandtech"></i>
          <p>Almaty Tech Garden представляет секцию Smart Tech & Solutions. При поддержке АО "КазПочта", АО "Национальные информационные технологии", АО "Казкоммерцбанк", АО "Банк Астаны", Корпорация IBM, Halva Loyalty, ТРЦ Dostyk Plaza и Damu Logistics. Технологические партнеры ATG выставят свои задачи, которые предстоит решить за 24 часа и в итоге успешно презентовать их решение.</p>
         <p>Победители получат не только призы и подарки, но и возможность получить реальные инвестиции, а также место в программе акселерации Tech Garden. Кроме того, победители смогут продолжить работать с технологичными партнерами. Будь smart – регистрируйся!</p>

          <fieldset>
            <legend>Спикеры:</legend>

            <div id="speaker25" class="about__box__item">
              <div class="about__box__img">
                <img src="img/ava/no_speaker.png">
              </div>
              <div class="about__box__cnt">
                <div class="about__box__name">
                  <span>Амир Гупта</span>
                  <p>Краткая информация о спикере</p>
                </div>
              </div>
            </div>

            <div id="speaker26" class="about__box__item">
              <div class="about__box__img">
                <img src="img/ava/bari.png">
              </div>
              <div class="about__box__cnt">
                <div class="about__box__name">
                  <span>Леонард Барри</span>
                  <p>Краткая информация о спикере</p>
                </div>
              </div>
            </div>

          <div id="speaker25_descr" class="about__box__descr">
            <p>Investor relations & Strategic Alliances, Ideawave Labs Pte. Ltd. Тема выступления уточняется</p>
          </div>

          <div id="speaker26_descr" class="about__box__descr">
            <p>Portfolio Manager, Autonomous cluster fund Almaty Tech Gardenю. Fintech</p>
          </div>

          </fieldset>

          <div class="about__nom">Номинации:</div>
          <div class="about__nombox">
            <div class="about__nombox__name">Задачи от АО «КазПочта» 
              <ul>
                <li><a target="_blank" href="/news/task-kazpost/"> OUR VIDOS TV Необходимо разработать конструктор виджета с использованием открытых API АО «Казпочта»</a></li>
                <li><a target="_blank" href="/news/task-kazpost/"> Необходимо разработать плагины из открытых API АО «Казпочта» для ведущих платформ е-коммерции</a></li>
                <li><a target="_blank" href="/news/task-kazpost/"> Необходимо разработать инструмент для эффективных коммуникаций между жителями и КСК на сайтах строений</a></li>
              </div>
              <div class="about__nombox__name">Задача от АО «НИТ» 
               <ul>
                 <li><a target="_blank" href="/news/task-aonit/">Задача по анализу текстовых документов - необходимо разработать модель анализа текстовых документов с использованием определенных алгоритмов машинного обучения для классификации текстовых документов</a></li>
               </ul>
             </div>
             <div class="about__nombox__name">Задачи от KazKom
               <ul>
                 <li><a target="_blank" href="/news/task-kazkom/">Анализ и классификация пользователей социальных сетей</a></li>
                 <li><a target="_blank" href="/news/task-kazkom/">Модели и формы анкет для оценки финансовой деятельности Клиента</a></li>
                 <li><a target="_blank" href="/news/task-kazkom/">Комплект работ по User Experience интерфейса портала</a></li>
               </ul>
             </div>
             <div class="about__nombox__name">Задача от Halva Loyalty
               <ul>
                 <li><a target="_blank" href="/news/task-halva/">Необходимо разработать сервис/агрегатор компаний-поставщиков услуг. С помощью этого сервиса пользователю будет предоставлена возможность заказа услуги у выбранной пользователем компании</a></li>
               </ul>
             </div>
             <div class="about__nombox__name">Задачи от Almaty Tech Garden
               <ul>
                 <li><a target="_blank" href="/news/task-ATG/">Средство/система рекомендации по продвижению продукта</a></li>
                   <li><a target="_blank" href="/news/task-ATG/">Система рекомендации по контенту продукта</a></li>
                 </ul>
               </div>
               <div class="about__nombox__name">Задачи от IBM
                 <ul>
                   <li><a target="_blank" href="/news/task-ibm/">Приложение, рекомендующее пользователю пешеходный маршрут</a></li>
                   <li><a target="_blank" href="/news/task-ibm/">Поиск ближайших кафе на карте в библиотеках, музеях и галереях</a></li>
                   <li><a target="_blank" href="/news/task-ibm/">Крауд-сорсинг платформа для жильцов, желающих улучшить свой двор или детскую площадку</a></li>
                   <li><a target="_blank" href="/news/task-ibm/">Мультимодальное приложение для транспорта - единый мобильный билет на все виды транспорта</a></li>
                   <li><a target="_blank" href="/news/task-ibm/">Визуализация на карте ближайших событий культурного и спортивного характера</a></li>
                   <li><a target="_blank" href="/news/task-ibm/">Система распознавания лиц на камерах видеонаблюдения</a></li>
                   <li><a target="_blank" href="/news/task-ibm/">Система поиска ближайших точек открытого Wi-Fi в городе</a></li>
                   <li><a target="_blank" href="/news/task-ibm/">Скоринг (оценка риска выдачи потребительского кредита) физического лица на основе анализа фотографий заявителя в альбомах друзей в социальных медиа</a></li>
                   <li><a target="_blank" href="/news/task-ibm/">Мобильное брокерское приложение - возможность инвестировать в стартапы и финансовые инструменты на биржах и p2p площадках по всему миру</a></li>
                   <li><a target="_blank" href="/news/task-ibm/">Кредитная площадка, функционирующая по принципу p2p, для малых производителей сельскохозяйственной продукции</a></li>
                   <li><a target="_blank" href="/news/task-ibm/">Система микродепозитов, где уровень дохода на следующий день выстраивается на основе результатов с фитнес-трекеров</a></li>
                   <li><a target="_blank" href="/news/task-ibm/">NFC-приложение агрегатор карт лояльности</a></li>
                 </ul>
               </div>
               <div class="about__nombox__name">Задачи Банк Астаны
                 <ul>
                   <li><a target="_blank" href="/news/task-bankastani/">Распознавание лиц с камеры- создание программы для обнаружения лиц людей, попадающих в поле зрения камеры высокого разрешения</a></li>
                   <li><a target="_blank" href="/news/task-bankastani/">Аутентификация пользователей- предложите свой вариант более надежных и одновременно простых в применении способов аутентификации пользователей</a></li>
                   <li><a target="_blank" href="/news/task-bankastani/">Usability тестирование веб и мобильного приложения</a></li>
                 </ul>
               </div>
               <div class="about__nombox__name">Задачи от DAMU Logistics
                 <ul>
                   <li><a target="_blank" href="/news/task-damu/">Нужно предоставить свой концепт и видение в решение по интеграции с смартфонами, Skype, WhatsApp и т.д.</a></li>
                   <li><a target="_blank" href="/news/task-damu/">Необходимо разработать программное решение, которое обрабатывает и генерирует отчеты</a></li>
                   <li>><a target="_blank" href="/news/task-damu/">Современная и креативная концепция для сайта www.htl.kz</a></li>
                   <li><a target="_blank" href="/news/task-damu/">Структура формы заявки для сайта www.damutrans.com; Шаблоны форм прилагаются на второй странице</a></li>
                   <li><a target="_blank" href="/news/task-damu/">Создание электронного каталога услуг нашей компании (dlg.kz)</a></li>
                   <li><a target="_blank" href="/news/task-damu/">Создание видео ролика о нашей компании</a></li>
                   <li><a target="_blank" href="/news/task-damu/">Создание платформы по проекту прямых продаж продукций хранящейся на складе</a></li>
                   <li><a target="_blank" href="/news/task-damu/">Создать электронную площадку (концепцию, сайт с формой подачи) по проекту “StartUP”</a></li>
                   <li><a target="_blank" href="/news/task-damu/">Создать стратегию по продвижению компании в социальных сетях (SMM стратегия)</a></li>
                 </ul>
               </div>
               <div class="about__nombox__name">Задача от Достык Плаза
                 <ul>
                   <li><a target="_blank" href="/news/task-dostykplaza/">Предоставление доступа в интернет, в зоне покрытия WiFi, через отправку СМС на номер клиента</a></li>
                 </ul>
               </div>
             </div>
             
            </div>   

<!--  -->

      </div>
    </section>

    <section class="news">
      <div class="wrapper" align="center">
        <div class="news__title">
          Новости</div>

          <div class="news__line">
            <div class="news_item">
            <img src="img/photos/6.jpg">
            <a href="news_item.html">Новость 1</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laborum, porro ex optio quibusdam atque voluptatibus voluptatem hic, beatae totam eveniet at, fuga ipsa officia voluptatum mollitia. Molestiae, sit, eum.</p>
            </div>
            <div class="news_item">
            <img src="img/photos/5.jpg">
           <a href="news_item.html">Новость 2</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laborum, porro ex optio quibusdam atque voluptatibus voluptatem hic, beatae totam eveniet at, fuga ipsa officia voluptatum mollitia. Molestiae, sit, eum.</p>
            </div>
            <div class="news_item">
            <img src="img/photos/4.jpg">
           <a href="news_item.html">Новость 3</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laborum, porro ex optio quibusdam atque voluptatibus voluptatem hic, beatae totam eveniet at, fuga ipsa officia voluptatum mollitia. Molestiae, sit, eum.</p>
            </div>
          </div>

          <a href="news.html" class="news__go">Больше новостей</a>

        </div>
      </section>

    <section class="orgs">
      <div class="wrapper">
        
        <div class="orgs__line orgs__sTop">
          <div class="orgs__item--org">
            <span class="orgs__item__title">Организатор</span>
            <br /><br /><a href="http://www.iitu.kz/" class="orgs__item__lk" target="_blank">
              <img src="img/partner-2.png">
            </a>
          </div>

          <div class="orgs__item--org">
            <span class="orgs__item__title">Соорганизатор</span>
            <a href="#" class="orgs__item__lk" target="_blank">
              <img src="img/partner-21.png">
            </a>
          </div>
        </div>

        <div class="orgs__line">          
          
          <div class="orgs__item--gen">
            <span class="orgs__item__title">Генеральный партнер</span>
            <a href="http://www.samsung.com/kz_ru/home/" class="orgs__item__lk" target="_blank">
              <img src="img/partner-22.png">
            </a>
          </div>
        </div>

        <div class="orgs__line orgs__top">

          <span class="orgs__item__title">Партнеры</span>

          <div class="orgs__item ">
            <a href="http://kkb.kz/" class="orgs__item__lk" target="_blank">
              <img src="img/partner-18.png">
            </a>
          </div>

          <div class="orgs__item ">
            <a href="#" class="orgs__item__lk" target="_blank">
              <img src="img/partner-20.png">
            </a>
          </div>

          <div class="orgs__item ">
            <a href="http://mkechinov.ru/" class="orgs__item__lk" target="_blank">
              <img src="img/partner-3.png">
            </a>
          </div>
        
          <div class="orgs__item">
            <a href="http://belochka.kz/" class="orgs__item__lk" target="_blank">
              <img src="img/partner-5.png">
            </a>
          </div>
        
          <div class="orgs__item">
            <a href="http://www.grand-hall.kz/" class="orgs__item__lk" target="_blank">
              <img src="img/partner-19.png">
            </a>
          </div>
                  
        </div>
        
        <div class="orgs__line orgs__bot">
            <div class="orgs__item__title">Информационные партнеры</div>
          <a href="https://kivvi.kz/" target="_blank" class="orgs__item">
                <img src="img/partner-8.png">
            </a>
            <a href="http://yvision.kz/" target="_blank" class="orgs__item">
                <img src="img/partner-9.png">
            </a>
            <a href="http://sxodim.kz/" target="_blank" class="orgs__item">
                <img src="img/partner-10.png">
            </a>
        </div>

      </div>
    </section>



    <section class="action">
      <div class="action__tx">
        <mark>Если у тебя нет команды</mark>
        <p>То ты можешь найти ее на HackDay.  Жми на кнопку и регистрируйся! </p>
        <a href="#popup_reg" data-text="Любая" class="section__go">Зарегистрироваться</a>
      </div>
      <i class="action__man"></i>
    </section>



    <section class="groups">
      <div class="wrapper">
        <div class="groups__title">
           Подписывайся на HackDay и будь <br />
          в центре событий
        </div>
        <div class="groups__box">

          <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
          <!-- VK Widget -->
          <div id="vk_groups"></div>
          <script type="text/javascript">
          VK.Widgets.Group("vk_groups", {mode: 0, width: "480", height: "225", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 51905207);
          </script>

        </div>
        <div class="groups__box">
          <div class="fb-page" data-href="https://www.facebook.com/hackdaykz" data-width="480" data-height="225" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/hackdaykz"><a href="https://www.facebook.com/hackdaykz">HackDay Kazakhstan</a></blockquote></div></div>
        </div>
      </div>
    </section>



  </main><!-- /.content -->


<%- include parts/footer.ejs %>