<%- include parts/head.ejs %>
<%- include parts/popup_reg.ejs %>
<%- include parts/popup_auth.ejs %>
<%- include parts/popup_pwd.ejs %>

  <header class="header">
    
    <div class="wrapper">
      <a href="/"><i class="header__logo"></i></a>



      <div class="header__nav">

      <ul id="menu">
        <li><a href="#">Секции</a></li>
        <li>
          <a href="#">Прoграмма</a>
          <ul>
            <li><a href="#">Mio profilo 1 erfer rere</a></li>
            <li><a href="#">Mio profilo 2 e</a></li>
            <li><a href="#">Mio profilo 3</a></li>
            <li><a href="#">Mio profilo 4 eerr</a></li>
          </ul>
        </li>
        <li><a href="#">Участники</a></li>
        <li><a href="#">Спикеры</a></li>
      </ul>
            
        <div class="header__social social">
          <a target="_blank" href="https://www.facebook.com/hackdaykz" class="social__fb"></a>
          <a target="_blank" href="https://vk.com/hackdayalmaty" class="social__vk"></a>
          <!-- <a target="_blank" href="" class="social__ig"></a> -->
        </div>

        <span class="social__tag">#hackdaykz</span>
        <a id="auth" href="#popup_auth" class="social__tag social__tag--red">Личный кабинет</a>
      
        <!-- <div class="header__lang">
          <span>KZ</span>
          <a href="ru.html">RU</a>
        </div> -->
      
      </div>
    </div>

  </header><!-- /.header --> 



  <main class="body">

    <section class="subpage_head">
      <div class="wrapper">
        
        <div class="title">Новости HackDay 2016</div>

      </div>
    </section>


    <section class="news">
      <div class="wrapper" align="center">

          <div class="news__line">
            <div class="news_item">
            <img src="img/photos/6.jpg">
            <a href="news_item.html">Новость 1</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laborum, porro ex optio quibusdam atque voluptatibus voluptatem hic, beatae totam eveniet at, fuga ipsa officia voluptatum mollitia. Molestiae, sit, eum.</p>
            </div>
            <div class="news_item">
            <img src="img/photos/5.jpg">
           <a href="news_item.html">Новость 2</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laborum, porro ex optio quibusdam atque voluptatibus voluptatem hic, beatae totam eveniet at, fuga ipsa officia voluptatum mollitia. Molestiae, sit, eum.</p>
            </div>
            <div class="news_item">
            <img src="img/photos/4.jpg">
           <a href="news_item.html">Новость 3</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laborum, porro ex optio quibusdam atque voluptatibus voluptatem hic, beatae totam eveniet at, fuga ipsa officia voluptatum mollitia. Molestiae, sit, eum.</p>
            </div>
          </div>

          <div class="news__line">
            <div class="news_item">
            <img src="img/photos/6.jpg">
            <a href="news_item.html">Новость 1</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laborum, porro ex optio quibusdam atque voluptatibus voluptatem hic, beatae totam eveniet at, fuga ipsa officia voluptatum mollitia. Molestiae, sit, eum.</p>
            </div>
            <div class="news_item">
            <img src="img/photos/5.jpg">
           <a href="news_item.html">Новость 2</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laborum, porro ex optio quibusdam atque voluptatibus voluptatem hic, beatae totam eveniet at, fuga ipsa officia voluptatum mollitia. Molestiae, sit, eum.</p>
            </div>
            <div class="news_item">
            <img src="img/photos/4.jpg">
           <a href="news_item.html">Новость 3</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laborum, porro ex optio quibusdam atque voluptatibus voluptatem hic, beatae totam eveniet at, fuga ipsa officia voluptatum mollitia. Molestiae, sit, eum.</p>
            </div>
          </div>

          <div class="news__line">
            <div class="news_item">
            <img src="img/photos/6.jpg">
            <a href="news_item.html">Новость 1</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laborum, porro ex optio quibusdam atque voluptatibus voluptatem hic, beatae totam eveniet at, fuga ipsa officia voluptatum mollitia. Molestiae, sit, eum.</p>
            </div>
            <div class="news_item">
            <img src="img/photos/5.jpg">
           <a href="news_item.html">Новость 2</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laborum, porro ex optio quibusdam atque voluptatibus voluptatem hic, beatae totam eveniet at, fuga ipsa officia voluptatum mollitia. Molestiae, sit, eum.</p>
            </div>
            <div class="news_item">
            <img src="img/photos/4.jpg">
           <a href="news_item.html">Новость 3</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laborum, porro ex optio quibusdam atque voluptatibus voluptatem hic, beatae totam eveniet at, fuga ipsa officia voluptatum mollitia. Molestiae, sit, eum.</p>
            </div>
          </div>


          <a href="news.html" class="news__go">Больше новостей</a>

        </div>
      </section>


    <section class="action">
      <div class="action__tx">
        <mark>Если у тебя нет команды</mark>
        <p>То ты можешь найти ее на HackDay.  Жми на кнопку и регистрируйся! </p>
        <a target="_blank" href="http://hackday.ru/almaty2015">Зарегистрироваться</a>
      </div>
      <i class="action__man"></i>
    </section>



    <section class="groups">
      <div class="wrapper">
        <div class="groups__title">
           Подписывайся на HackDay и будь <br />
          в центре событий
        </div>
        <div class="groups__box">

          <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
          <!-- VK Widget -->
          <div id="vk_groups"></div>
          <script type="text/javascript">
          VK.Widgets.Group("vk_groups", {mode: 0, width: "480", height: "225", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 51905207);
          </script>

        </div>
        <div class="groups__box">
          <div class="fb-page" data-href="https://www.facebook.com/hackdaykz" data-width="480" data-height="225" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/hackdaykz"><a href="https://www.facebook.com/hackdaykz">HackDay Kazakhstan</a></blockquote></div></div>
        </div>
      </div>
    </section>



  </main><!-- /.content -->


<%- include parts/footer.ejs %>